{{<base.mustache}}
{{$content}}
  <div class="scope-page">
    <h1>Tracker token created</h1>
    <p>Copy this token now. It will not be shown again.</p>
    <pre>{{plaintext}}</pre>
    <p><a href="/tokens">Return to My Tracker</a></p>
  </div>
{{/content}}
{{/base.mustache}}
